<a href="https://colab.research.google.com/github/Igirisu861/SmartDataProcessing/blob/main/Practice1_DianaRuiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Practice 1**

### *Read salaries.csv as a data frame called **sal** and answer the following:*


1.   What is the name of the highest paid person (including benefits)?
2.   What was the avg (mean) BasePay of all employees per year (2011-2014)?
3.   How many unique job titles are there?
4.   What are the top 5 most common jobs?
5.   How many job titles where represented by only one person in 2013?

Import libraries

In [ ]:
import numpy as np
import pandas as pd

Read the CSV file

In [ ]:
sal = pd.read_csv('/content/salaries.csv')
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

## **1-**

The highest paid person (total pay benefits): Nathaniel Ford

In [ ]:
sal.sort_values('TotalPayBenefits', ascending=False).head(1)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

# **2-**

In [ ]:
sal.pivot_table(index='Year', values='BasePay', aggfunc='mean')

           BasePay
Year
2011  63595.956517
2012  65436.406857
2013  69630.030216
2014  66564.421924

## **3-**

In [ ]:
print('{0} unique jobs'.format(sal['JobTitle'].nunique()))

2159 unique jobs

## **4-**

In [ ]:
sal['JobTitle'].value_counts().head()

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

In [ ]:
selectYear = sal[sal['Year'] == 2013]
jobCount = selectYear['JobTitle'].value_counts()

onePerson = len(jobCount[jobCount == 1])

print(f'Number of job titles with only one person in 2013: {onePerson}')

Number of job titles with only one person in 2013: 202